#well1.well{text-align: center; height: 80px;}

#maps{height: 400px; width: 100%;}

#map1{height: 300px; width: 50%;}

#col1{background-color: #E6E6FA; height: 400px;}

#p1{font-size: 16px;}

#h21{margin-top: -2px;}